@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300&family=Karantina:wght@300&family=Rubik&family=Space+Grotesk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300&family=Karantina:wght@300&family=Red+Hat+Display:wght@300&family=Rubik&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

hr {
    color: #dbdbdb;
    width: 85%;
}

.containerSpecial {
    width: 97%;
    margin: auto;
}

/**Style Main Header */
.mainHeader {
    position: relative;
    background-image: url("../images/Group\ 4.png");
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.btnNavbar {
    background: linear-gradient(to right, #eb2f4a, #941225);
    color: #ffffff !important;
    border: none !important;
    outline: none !important;
    width: 160px;
    height: 50px;
}

.img {
    vertical-align: top !important;
}

.navbar-toggler {
    border: none !important;
}

.switch {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 25px;
    border-radius: 20px;
    background: #1c344c;
    transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    vertical-align: middle;
    cursor: pointer;
}

.switch::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 2px;
    width: 22px;
    height: 22px;
    background: url("../images/moon.png") center/contain no-repeat !important;
    border-radius: 50%;
    transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1),
        background 0.28s cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.switch:active::before {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28), 0 0 0 20px rgba(128, 128, 128, 0.1);
}

input:checked+.switch {
    background: #1c344c;
}

input:checked+.switch::before {
    left: 27px;
    background: url("../images/moon.png") center/contain no-repeat !important;
}

input:checked+.switch:active::before {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28), 0 0 0 20px rgba(0, 150, 136, 0.2);
}

.minds {
    background: linear-gradient(180deg, rgba(28, 52, 76, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
    font-family: Space Grotesk;
    font-size: 180px;
    font-weight: 700;
    text-align: center;
    width:1553px !important;
    /* background-color: red; */
    position: absolute;
    top:-100%;
}

.heroImage {
    margin: 10% auto 0px;
    text-align: center;
    width: 50%;
}

.heroImage .apps {
    font-family: Space Grotesk;
    font-weight: 700;
    font-size: 70px;
    line-height: 82.94px;
    color: #1c344c;
    width: 100%;
}

.heroImage p span {
    color: #52c3d6;
}

.heroImage p:last-child {
    font-family: Red Hat Display;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
}

#text {
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1s steps(20) infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.logo {
    margin: auto;
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.endOfDiv {
    width: 100%;
    color: white;
    background-color: #1c344c;
    box-shadow: 0px 0px 27px 0px #00000040;
    margin-top: 150px;
    padding: 20px;
    font-family: Space Grotesk;
    font-size: 17px;
    transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
}

/**Style Achieves */
.acievements {
    margin-top: 55px;
}

.achieves .achivesNext div {
    border-right: 1px solid #1c344c1a;
    padding: 20px;
}

.advatages .advatNext .infoAdvant {
    border-right: 1px solid #1c344c1a;
    border-top: 1px solid #1c344c1a;
    padding: 20px;
}

.advatages .advatNext2 .infoAdvant {
    border: 1px solid #1c344c1a;
    padding: 20px;
    margin: 5px;
}

.achieves .achivesNext div h3 {
    color: #49c3d3;
    font-family: Red Hat Display;
    font-weight: 900;
    font-size: 35px;
}

.achieves .achivesNext div p {
    font-family: Red Hat Display;
    font-size: 22px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
}

.achieves .achivesNext {
    text-align: center;
}

.containerImage,
.containerImage2 {
    width: 80px;
    height: 80px;
    margin: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #fcdca4;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerImage img {
    color: #ffbd4e;
    font-size: 35px;
}

.containerImage2 {
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
    background-color: #52c3d640;
}

.infoImage p {
    font-family: Space Grotesk;
    font-size: 27px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
}

.infoAdvant {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
}

.infoAdvant:hover {
    cursor: pointer;
    background-color: #1c344c;
    color: white;
}

/**Style Achieves */

/**Style About Us */
.about {
    margin-top: 150px;
    background-image: url("../images/Rectangle 51.png");
    background-size: cover;
}

.aboutBackground {
    width: 80%;
}

.aboutBackground img {
    width: 100%;
}

.infoAbout {
    width: 75%;
}

.infoAbout h2 {
    color: #52c3d6;
    font-family: Space Grotesk;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
}

.infoAbout p:nth-child(2) {
    font-family: Space Grotesk;
    font-size: 50px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: left;
}

.infoAbout p:nth-child(3) {
    font-family: Red Hat Display;
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 25px;
}

.infoAbout ul {
    margin-top: 35px;
    text-align: left;
}

.infoAbout ul li {
    list-style: none;
    font-family: Space Grotesk;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    margin: 10px -30px;
}

.infoAbout ul li i {
    color: #eb2f4a;
    margin-right: 5px;
}

.infoAbout button {
    margin: 20px -100px;
}

/**Style About Us */

/**Style Section delivery */
.delivery {
    margin-top: 120px;
}

.frames {
    margin-top: 35px;
}

.delivery p {
    font-family: Space Grotesk;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #52c3d6;
}

.delivery h2 {
    font-family: Space Grotesk;
    font-size: 37px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    width: 50%;
    margin: auto;
}

.frame {
    width: 13%;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 15px;
}

/**Style Section delivery */
/**talented */

.talented {
    margin-top: 120px;
    background-image: url("../images/Rectangle 34.png");
    background-size: cover;
}

#creative {
    font-family: Space Grotesk;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #52c3d6;
}

#work {
    font-family: Space Grotesk;
    font-size: 37px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
}

.tabs {
    margin-top: 80px;
    background-image: url("../images/Rectangle 34.png");
    background-size: cover;
}

.nav-link {
    color: #52c3d6 !important;
    font-family: Space Grotesk;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    border: none !important;
    padding: 10px;
}

li .active {
    border-bottom: 4px solid #292d32 !important;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.nav {
    border: none !important;
}

/**talented */

/**Section Portflio */
.portflio {
    background: url("../images/Rectangle 59.png");
    background-size: cover;
    margin: 180px auto;
    text-align: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.arrow {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #52c3d6;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigDivPhone {
    margin-left: 100px;
}

.infoPortflio p:first-child {
    font-family: Space Grotesk;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #52c3d6;
}

.infoPortflio p:last-child {
    font-family: Space Grotesk;
    font-size: 37px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
}

.taxes {
    text-align: left;
}

.taxes .special,
.taxes span {
    font-family: Space Grotesk;
    font-size: 28px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

.taxes span {
    font-size: 16px;
    line-height: 20px;
    color: #52c3d6;
}

.taxes p {
    font-family: Space Grotesk;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #cdcdcd;
}

.phoneProtflio {
    width: 80%;
    position: relative;
    z-index: 5;
}

.phoneProtflio img {
    width: 100%;
}

.phoneProtflio .screen {
    position: absolute;
    top: 2%;
    right: 32.9%;
    width: 52%;
    height: 85%;
    z-index: -1;
    filter: brightness(1);
    -webkit-filter: brightness(1);
}

.view {
    text-align: left;
    margin-top: 45px;
}

/**Section Portflio */

/**Style partners */
.partners p {
    font-family: Space Grotesk;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #52c3d6;
}

.componies div {
    margin-right: 8%;
}

.componies {
    display: flex;
    flex-wrap: wrap;
}

/**Style partners */

/**hoisting */
.hoisting {
    text-align: center;
    margin: 180px auto;
    background: radial-gradient(50% 50% at 50% 50%, #345d86 0%, #1c344c 100%);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 20px;
}

.hoisting .containerimageBuild {
    width: 70%;
    margin: auto;
}

.hoisting .containerimageBuild .imageBuild {
    margin-top: 55px;
    width: 100%;
}

.hoisting div p:first-child {
    text-transform: uppercase;
    font-family: Space Grotesk;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #52c3d6;
}

.hoisting #tedOff {
    text-transform: capitalize;
    font-family: Space Grotesk;
    font-size: 37px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
}

/**hoisting */

/**testimonials Style */
.success p:first-child {
    font-family: Space Grotesk;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #52c3d6;
}

.success h2 {
    font-family: Space Grotesk;
    font-size: 37px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    width: 75%;
}

.succOne {
    background: radial-gradient(50% 50% at 50% 50%, #345d86 0%, #1c344c 100%);
    text-align: center;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    margin-right: 10px;
    padding: 25px;
    margin-right: 10px !important;
}

.succOne h3 {
    font-family: Space Grotesk;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}

.succOne p {
    font-family: Red Hat Display;
    font-size: 10.68px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.02em;
    text-align: center;
    text-align: center;
    color: white;
}

.succOne .name {
    text-align: center;
    font-family: Red Hat Display;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.quote i {
    font-size: 80px;
    color: #ffffff1a;
    margin-top: 25px !important;
    margin-left: -80px !important;
}

/**testimonials Style */

/**Section Teams */
.teams {
    margin: 150px auto;
    text-align: center;
}

.teamsintro p {
    font-family: Space Grotesk;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #52c3d6;
}

.teamsintro h3 {
    font-family: Space Grotesk;
    font-size: 37px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    color: #1C344C;
}

.teamMember p {
    font-family: Space Grotesk;
    font-size: 28px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 10px;
}

.teamMember span {
    font-family: Space Grotesk;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: #52C3D6;

}

.teamMember .member {
    width: 50%;
    text-align: center;
    margin: auto;
}

.teamMember .member img {
    width: 100%;
}

/* تحديد linear gradient لنص */
.gradient-text {
    background: linear-gradient(180deg, rgba(28, 52, 76, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    margin-bottom: -205px;
    font-size: 200px;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}

.teamsintro {
    margin-top: -75px
}

/**Section Teams */


/**Section map */
.map {
    margin-top: 150px;
    text-align: center;
    margin: auto;
}

.map p {
    font-family: Space Grotesk;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #52C3D6;
}

.map h3 {
    font-family: Space Grotesk;
    font-size: 37px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    color: #1C344C;
}

.worldMap {
    width: 90%;
    text-align: center;
    margin: auto;
    position: relative;
}

.worldMap .mabImage {
    width: 90%;
}

.shabe, .shabe2, .shabe3, .shabe4 {
    position: absolute;
    left: 30%;
    top: 30%;
    width: 22px;
    height: 22px;
    background-color: #0000001f;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.shabe3, .shabe2 {
    left: 52%;
    top: 56%;
    background-color: #EB2F4A;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.shabe2 {
    left: 20%;
    top: 50%;
    background-color: #EB2F4A;
}

.shabe4 {
    left: 80%;
    top: 20%;
}

.subscripe {
    background-image: url("../images/Rectangle 32.png");
    background-size: cover;
    width: 75%;
    margin: auto;
    text-align: center;
    margin-top: 80px;
    padding: 50px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.subscripe h2 {
    font-family: Red Hat Display;
    font-size: 28px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0px;
    text-align: left;
}

.newSteller {
    position: relative;
}

#email {
    border: 1px solid #E8E8E8;
    outline: none;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.newSteller button {
    position: absolute;
    left: 61%;
    top: 13%;
}

/**Section map */


/**Style Footer  */
.footer {
    margin-top: 150px;
}

.footer ul {
    list-style: none;
}

.footer ul li {
    display: inline-block;
    margin: 10px;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
}

.footer ul li:hover {
    cursor: pointer;
    color: #52C3D6;
}

.footerData {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.hr {
    width: 100%;
}

/**Style Footer  */

@media (max-width: 767px) {
    .heroImage {
        width: 100%;
    }

    .aboutBackground img {
        width: 100%;
        text-align: center;
    }

    .infoAbout {
        text-align: center;
        width: 100%;
    }

    .delivery h2 {
        width: 100%;
    }

    .frames {
        flex-wrap: wrap;
    }

    .frame {
        flex: 0 0 48%;
        /* Two frames in a row on smaller screens */
    }


    .componies div {
        margin-right: 20px;
    }

    .caursol {
        margin-top: 15px;
    }

    .testimonials {
        text-align: center;
    }

    .success h2 {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .success p:first-child {
        text-align: center;
    }

    .subscripe {
        width: 100%;
    }

    .footerData, .logoFooter {
        margin: auto;
        text-align: center;
    }

    .minds {
        background: linear-gradient(180deg, rgba(28, 52, 76, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        display: inline-block;
        font-family: Space Grotesk;
        font-size: 50px;
        font-weight: 700;
        text-align: center;
        width:600px !important;
        /* background-color: red; */
        position: absolute;
        top:-8%;
    }
    .gradient-text {
        background: linear-gradient(180deg, rgba(28, 52, 76, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
        margin-bottom: -205px;
        font-size: 50px;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        display: inline-block;
    }
    body{
        overflow-x: hidden;
    }
}

.dark-mode {
    background:#121212;
    color:#fff;
}
.mainHeader , .talented , .about , .tabs , .portflio  , .subscripe{
    background-image:none;
}
.subscripe{
    border: 1px solid white;
}
.frameData{
    background-color: #1C344C;
}
.logo{
    background-color: white;
}
.navbar-toggler{
    color: white !important;
}